{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <div class="container">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading text-center">Regist Toy Mooc</h2>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" name="username"
                   placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password"
                   placeholder="Password" required>
            <label for="inputPassword2" class="sr-only">Confirm Password</label>
            <input type="password" id="inputPassword2" class="form-control" name="confirm"
                   placeholder="Confirm Password" style="margin-bottom: 20px" required>
            <button class="btn btn-primary btn-lg btn-block" type="submit">regist</button>
        </form>
    </div>
{% endblock %}